/*新模版需要使用的样式*/
.libfun-placeholder-h10 {height:10px;}

.libfun-panel {
    margin-top: 20px;
}

.libfun-form {
    margin: 10px;
}
@-webkit-keyframes light {
    0% {
        -webkit-transform: filter: alpha(opacity = 0);
        -moz-opacity: 0;
        opacity: 0;
    }
    50% {
        -webkit-transform: filter: alpha(opacity = 100);
        -moz-opacity: 1;
        opacity: 1;
    }
    100% {
        -webkit-transform: filter: alpha(opacity = 0);
        -moz-opacity: 0;
        opacity: 0;
    }
}

@-moz-keyframes light {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-ms-keyframes light {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
/* 高亮闪动效果 */
.highlight {
    background: yellow 50% top repeat-x;
    -webkit-animation-name: light;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

    -moz-animation-name: light;
    -moz-animation-duration: 1000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;

    -ms-animation-name: light;
    -ms-animation-duration: 1000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
}

div.dataTables_wrapper div.dt-buttons a.btn{
    margin-right: 4px;
}

/* 订单页面鼠标悬停tips样式 */
.tips {
    display: none;
    position: absolute;
    z-index: 1000;
    border: 1px solid #000000;
    background-color: #F0F0F0;
    padding: 10px;
}

.tips > div.line {
    min-width: 150px;
    display: block;
    font-size: 12px;
    margin: 1px;
}

.tips > div.line > span.key {
    width: 80px;
    overflow: hidden;
}

.tips > div.line > span.value {
    max-width: 260px;
    display: inline-table;
}

.update-icon {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 3px;
    cursor: pointer;
    vertical-align: middle;
    background-image: url(../images/icon-operate.png)
}

.tr-active {
    background-color: #ebebeb !important
}